html {
  position: relative;
}

body {
  background-color: rgb(240, 240, 240);
}

body, p, input {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 16px !important;
  line-height: 18px !important;
  padding: 0;
  margin: 0;
}

.clearfix:after {
  display: block;
  content: '';
  clear: both;
}

.table-field {
  width: 70%;
  float: left;
  perspective: 1000px;
  perspective-origin: center -5em;
}

.tools-field {
  width: 30%;
  float: left;
  height: 500px;
}

[hidden] {
  display: none!important;
}

.kudos {
  width: 250px;
  height: 150px;
  background-color: #fff;
  display: inline-block;
  float: left;
  position: absolute;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}

.kudos-thanks {
  /* background-image: url("../../../../../images/1.png"); */
  background-color: rgb(242,170,181);
}

.kudos-happy {
  /* background-image: url("../../../../../images/2.png"); */
  background-color: rgb(132,203,235);
}

.kudos-goodwork {
  /* background-image: url("../../../../../images/3.png"); */
  background-color: rgb(242,219,177);
}

.kudos .content {
  position: absolute;
  color: #000;
}

body > .kudos {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}