<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Kudos</title>
  <link rel="stylesheet" href="components/app/app.css">
  <link rel="stylesheet" href="components/kudos-app/kudos-app.css">
  <link rel="stylesheet" href="components/kudos-board/kudos-board.css">
  <link rel="stylesheet" href="components/kudos-tools/kudos-tools.css">
  <link rel="stylesheet" href="components/kudos-edit/kudos-edit.css">
  <link rel="stylesheet" href="components/kudos-text-editor/kudos-text-editor.css">

  <script>
    'use strict';


  </script>
</head>
<body>
  
  <section class="container-app clearfix">
    <div class="table-field">

    </div>

    <div class="tools-field">
      
    </div>

    <div class="edit-field">

    </div>
  </section>
  <script src="components/kudos-app/kudos-app.js"></script>
  <script src="components/kudos-model/kudos-model.js"></script>
  <script src="components/kudos-edit/kudos-edit.js"></script>
  <script src="components/kudos-tools/kudos-tools.js"></script>
  <script src="components/kudos-board/kudos-board.js"></script>
  <script src="components/kudos-text-editor/kudos-text-editor.js"></script>
  <script src="components/app/app.js"></script>
  
</body>
</html>