.kudos-types {
  padding: 20px;
  background-color: #987;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
}

.kudos-types .kudos {
  transform: scale(0.5) translate(-50%,-50%);
}

.kudos-option {
  position: relative;
  height: 80px;
  width: 120px;
}

.area-ready-kudos {
  width: 250px;
  height: 150px;
  border: 1px dashed blue;
  float: left;
  margin-right: 20px;
  border-radius: 5px;
}

.trash {
  width: 250px;
  height: 150px;
  border: 1px dashed red;
  float: left;
  border-radius: 5px;
}

.area-ready-kudos {
  padding: 1px;
  position: relative;
}