.edit-field {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.edit-area {
  padding: 50px;
}

.kudos-edit {
  margin: 10px;
  display: inline-block;
  position: relative;
}

.edit span {
  color: #fff;
  display: block;
  margin: 40px 0 0 40px;
}

.edit-field-hidden {
  opacity: 0;
  z-index: -1;
}

.edit-field-show {
  opacity: 1;
  z-index: 1;
}

.form button {
  margin-left: 50px;
  font-size: 25px;
}

